In [593]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("data"))

['imbd-sf', 'ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt', 'ratings_3.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_7.txt', 'ratings_8.txt', 'ratings_9.txt', 'subfolder']

In [594]:
data = pd.read_csv('data/imbd-sf/data.csv')
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [595]:
len(data)

1890

# Предобработка датасета

In [596]:
data = pd.read_csv('data/imbd-sf/data.csv')
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data['profit'] = data['revenue'] - data['budget'] #прибыль
data['year'] = data['release_date'].str.split('/').apply(lambda x: int(x[-1])) #год
data['month'] = data['release_date'].str.split('/').apply(lambda x: int(x[-3])) #месяц
data['count_title_letter'] = data['original_title'].apply(lambda x: len(str(x)))# количество символов в названии фильма
data['count_title_word'] = data['original_title'].apply(lambda x: len(str(x).split()))# количество слов в названии фильма

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [597]:
print(data[data['budget'] == data['budget'].max()]['original_title'].values[0])

The Warrior's Way

In [598]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [599]:
print(data[data['runtime'] == data['runtime'].max()]['original_title'].values[0])

Gods and Generals

In [600]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [601]:
print(data[data['runtime'] == data['runtime'].min()]['original_title'].values[0])

Winnie the Pooh

In [602]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [603]:
print(round(data['runtime'].mean()))

110

In [604]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [605]:
print(data['runtime'].median())

106.5

In [606]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [607]:
print(data[data['profit'] == data['profit'].max()]['original_title'].values[0])

Avatar

In [608]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [609]:
print(data[data['profit'] == data['profit'].min()]['original_title'].values[0])

The Warrior's Way

In [610]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [611]:
print(len(data[data['profit'] > 0]))

1478

In [612]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [613]:
data_2008 = data[data['year'] == 2008]
print(data_2008[(data_2008['profit'] == data_2008['profit'].max())]['original_title'].values[0])

The Dark Knight

In [614]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [615]:
data_2012_2014 = data.query('(2012<=year<2015)')
print(data_2012_2014[(data_2012_2014['profit'] == data_2012_2014['profit'].min())]['original_title'].values[0])

The Lone Ranger

In [616]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [617]:
genres_list = data['genres'].str.split('|').sum()
print(Counter(genres_list).most_common(1))

[('Drama', 782)]

In [618]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [619]:
genres_list = []
genres_list = data[data['profit'] > 0]['genres'].str.split('|').sum()
print(Counter(genres_list).most_common(1))

[('Drama', 560)]

In [620]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [621]:
director_list = []
director_list = data['director'].str.split('|').sum()
print(Counter(director_list).most_common(1))

[('Steven Soderbergh', 13)]

In [622]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [623]:
director_list = []
director_list =data[data['profit'] > 0]['director'].str.split('|').sum()
print(Counter(director_list).most_common(1))

[('Ridley Scott', 12)]

In [624]:
#Правильный ответ: Ridley Scott - в платформе под номером 2
answer_ls.append(2)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [625]:
directors_dict = {}
#directors = data2['director'].sum()
directors = ['Steven Spielberg', 'James Cameron', 'Christopher Nolan', 'David Yates', 'Peter Jackson']
for director in directors:
    directors_dict[director] = (data[data['director'].str.contains(director)]['profit'].sum())
print(Counter(directors_dict).most_common(1))

[('Peter Jackson', 5202593685)]

In [626]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [627]:
actors_dict = {}
#actors = data['cast'].str.split("|").sum()
actors = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
for actor in actors:
    actors_dict[actor] = data[data['cast'].str.contains(actor)]['profit'].sum()
print(Counter(actors_dict).most_common(1))

[('Emma Watson', 6666245597)]

In [628]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [629]:
actors_dict = {}
data_2012 = data[(data['year'] == 2012)]
#actors = data['cast'].str.split("|").sum()
actors = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
for actor in actors:
    actors_dict[actor] = data_2012[data_2012['cast'].str.contains(actor)]['profit'].sum()
print(Counter(actors_dict).most_common()[-1])

('Kirsten Dunst', -68109207)

In [630]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [631]:
actors_dict = {}
data_budget = data[data['budget'] > data['budget'].mean()]
#actors = data['cast'].str.split("|").sum()
actors = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
for actor in actors:
    actors_dict[actor] = len(data_budget[data_budget['cast'].str.contains(actor)])
print(Counter(actors_dict).most_common(1))

[('Matt Damon', 18)]

In [632]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [633]:
data_n_cage = data[data['cast'].str.contains('Nicolas Cage')]
genres_list = data_n_cage['genres'].str.split('|').sum()
print(Counter(genres_list).most_common(1))

[('Action', 17)]

In [634]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [635]:
studios = data['production_companies'].str.split('|').sum()
print(Counter(studios).most_common(1))

[('Universal Pictures', 173)]

In [636]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [637]:
data_2015 = data[data['year'] == 2015]
studios = data_2015['production_companies'].str.split('|').sum()
print(Counter(studios).most_common(1))

[('Warner Bros.', 12)]

In [638]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [639]:
data_comedy = data[data['genres'].str.contains('Comedy')]
studios_dict = {}
#studios = data_comedy['production_companies'].str.split('|').sum()
studios = ['Warner Bros', 'Universal Pictures', 'Columbia Pictures',
          'Paramount Pictures', 'Walt Disney']
for studio in studios:
    studios_dict[studio] = data_comedy[data_comedy['production_companies'].str.contains(studio)]['profit'].sum()
print(Counter(studios_dict).most_common(1))

[('Universal Pictures', 8952422726)]

In [640]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [641]:
data_2012 = data[data['year'] == 2012]
studios_dict = {}
#studios = data_2012['production_companies'].str.split('|').sum()
studios = ['Warner Bros', 'Universal Pictures', 'Columbia Pictures',
          'Paramount Pictures', 'Lucasfilm']
for studio in studios:
    studios_dict[studio] = data_2012[data_2012['production_companies'].str.contains(studio)]['profit'].sum()
print(Counter(studios_dict).most_common(1))

[('Columbia Pictures', 2501406608)]

In [642]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [643]:
data_par = data[data['production_companies'].str.contains('Paramount Pictures')]
data_par[data_par['profit'] == data_par['profit'].min()]['original_title'].values[0]

'K-19: The Widowmaker'

In [644]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [645]:
years_dict = {}
years = [2014, 2008, 2012, 2002, 2015]
for year in years:
    years_dict[year] = data[data['year'] == year]['profit'].sum()
print(Counter(years_dict).most_common(1))

[(2015, 18668572378)]

In [646]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [647]:
data_warner = data[data['production_companies'].str.contains('Warner Bros')]
years_dict = {}
years = [2014, 2008, 2012, 2010, 2015]
for year in years:
    years_dict[year] = data_warner[data_warner['year'] == year]['profit'].sum()
print(Counter(years_dict).most_common(1))

[(2014, 2295464519)]

In [648]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [649]:
data.groupby(['month'])['imdb_id'].count().sort_values(ascending=False).index[0]

9

In [650]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [651]:
data_summer = data.query('6<=month<9')
data_summer.groupby(['month'])['imdb_id'].count().sum()

450

In [652]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [653]:
'''1й вариант. Создаем новый датасет с добавлением строк таким образом, 
чтобы в одной строке был только один режиссер'''

data2 = data.copy()
for index, row in data2.iterrows():
    directors = row['director'].split('|')
    if len(directors) > 1:
        for director in directors:
            new_row = row.copy()
            new_row['director'] = director
            data2 = data2.append(new_row, ignore_index = True)
for index, row in data2.iterrows():
    directors = row['director'].split('|')
    if len(directors) > 1:
        data2.drop(index, inplace=True) # Удаляем строки в которых количество режиссеров больше 1

"""Создаем новые датасеты: зимний (зимние месяцы) и не зимний, 
с учетом вхождения в них только выбранных режиссеров. 
Делаем группировку для каждого режиссера из списка на каждый год 
отдельно для зимних и не зимних месяцев. Сравниваем значения по каждому 
году для зимы и не зимы. Подводим общий итог по всем годам"""
filter_name = ['Steven Soderbergh','Christopher Nolan','Clint Eastwood', 'Ridley Scott', 'Peter Jackson']
data_winter = data2.query('(1<=month<3 | month==12) & director == @filter_name' )
data_winter = data_winter.groupby(['year','director'])['imdb_id'].count()
data_winter = pd.DataFrame(data_winter)
data_winter = data_winter.rename(columns={'imdb_id':'winter'})
#data_winter = data_winter.reset_index(inplace=True)

data_no_winter = data2.query('(3<=month<12) & director == @filter_name' )
data_no_winter = data_no_winter.groupby(['year','director'])['imdb_id'].count()
data_no_winter = pd.DataFrame(data_no_winter)
data_no_winter = data_no_winter.rename(columns={'imdb_id':'no_winter'})

data_for_year = pd.merge(data_winter, data_no_winter, left_on=['year','director'], right_on=['year','director'], how='outer')
data_for_year[['winter','no_winter']] = data_for_year[['winter','no_winter']].fillna(0)
data_for_year['total'] = data_for_year['winter'] - data_for_year['no_winter']
data_for_year['total'] = data_for_year['total'].apply(lambda x: 'winter' if x > 0 else 'no_winter')
data_for_year = data_for_year.groupby(['director', 'total'])['total'].count()
display(data_for_year)

director           total
Christopher Nolan  no_winter    8
Clint Eastwood     no_winter    6
                   winter       4
Peter Jackson      no_winter    1
                   winter       7
Ridley Scott       no_winter    9
                   winter       2
Steven Soderbergh  no_winter    7
                   winter       3
Name: total, dtype: int64

In [654]:
'''2й вариант. Создаем новые датасеты: зимний (зимние месяцы) и не зимний.
Создаем циклы подсчета для каждого режиссера мз списка в каждом уникальном
году датасета количества зимних и не зимних фильмов. Сравниваем эти количества 
отдельно для каждого года и сохраняем в словаре. С помошью счетчика  Counter 
выводим максимальный результат'''
years = data['year'].astype(str).str.split().sum()# создаем список лет
years = set(years)
all_year_dict = {}
data_winter = data.query('1<=month<3 | month==12')
data_no_winter = data.query('3<=month<12')
directors = ['Steven Soderbergh','Christopher Nolan','Clint Eastwood', 'Ridley Scott', 'Peter Jackson']
for director in directors:
    director_count = 0
    for year in years:
        winter_count = len(data_winter[(data_winter['director'].str.contains(director))&
                                           (data_winter['year'] == int(year))])
        no_winter_count = len(data_no_winter[(data_no_winter['director'].str.contains(director))&
                                           (data_no_winter['year'] == int(year))])
        diff_count = winter_count - no_winter_count
        if diff_count > 0:
            director_count += 1
        elif no_winter_count !=0:
            director_count -= 1
    all_year_dict[director] = director_count
print(Counter(all_year_dict).most_common(1))

[('Peter Jackson', 6)]

In [655]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [656]:
df_data = data.groupby(['year', 'month'])['profit'].agg('sum')
df_data = pd.DataFrame(df_data)
df_data.reset_index(inplace = True)
df_data = df_data.sort_values(by=['year','profit'], ascending=False)
#display(df_data)
df_data.drop_duplicates(subset = 'year', keep='first', inplace=True, ignore_index=True)
display(df_data['month'].value_counts().index[0])

6

In [657]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [658]:
studios_dict = {}
#studios = data['production_companies'].str.split('|').sum()
studios = ['Warner Bros', 'Universal Pictures', 'Jim Henson Company, The',
          'Paramount Pictures', 'Four By Two Productions']
for studio in studios:
    studios_dict[studio] = data[data['production_companies'].str.contains(studio)]['count_title_letter'].mean()
print(Counter(studios_dict).most_common(1))

[('Four By Two Productions', 83.0)]

In [659]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [660]:
studios_dict = {}
#studios = data['production_companies'].str.split('|').sum()
studios = ['Warner Bros', 'Universal Pictures', 'Jim Henson Company, The',
          'Paramount Pictures', 'Four By Two Productions']
for studio in studios:
    studios_dict[studio] = data[data['production_companies'].str.contains(studio)]['count_title_word'].mean()
print(Counter(studios_dict).most_common(1))

[('Four By Two Productions', 12.0)]

In [661]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [662]:
word_list = data['original_title'].str.lower().str.split().sum()
print(len(Counter(word_list)))

2461

In [663]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [664]:
data2 = data.copy()
data2 = data2.sort_values(by='vote_average', ascending=False)
i = round(len(data2)/100)
big_rating = data2.iloc[:i]
films_list = [['Inside Out', 'Gone Girl', '12 Years a Slave'], 
         ['BloodRayne', 'The Adventures of Rocky and Bullwinkle'],
         ['The Lord of the Rings: The Return of the King', 'Upside Down'],
         ['300', 'Lucky Number Slevin'],
         ['Upside Down', '300', 'Inside Out', 'The Lord of the Rings: The Return of the King']]

for films in films_list:
    if len(films) == len(big_rating.query('@films in original_title')):
        print(films, True)

['Inside Out', 'Gone Girl', '12 Years a Slave'] True

In [665]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [666]:
actors_dict = {}
actors_list = [['Johnny Depp', 'Helena Bonham Carter'], ['Hugh Jackman', 'Ian McKellen'], 
          ['Vin Diesel', 'Paul Walker'], ['Adam Sandler', 'Kevin James'], 
          ['Daniel Radcliffe', 'Rupert Grint']]
for actors in actors_list:
    actor1 = actors[0]
    actor2 = actors[1]
    actors_dict[str(actors)] = len(data[data['cast'].str.contains(actor1)&data['cast'].str.contains(actor2)])
print(Counter(actors_dict).most_common(1))

[("['Daniel Radcliffe', 'Rupert Grint']", 8)]

In [667]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [668]:
data_profit = data[data['profit']>0]
directors_dict = {}
directors = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez',
            'Christopher Nolan', 'Clint Eastwood']
for director in directors:
    directors_dict[director] = len(data_profit[data_profit['director'].str.contains(director)])/len(data[data['director'].str.contains(director)])
print(Counter(directors_dict).most_common(1))

[('Christopher Nolan', 1.0)]

In [669]:
answer_ls.append(4)

# Submission

In [670]:
len(answer_ls)

36

In [671]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4